@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap&apos;');

body{
    margin: 0 auto;
}

.container-header{
    background: lightblue;
    text-align: center;
    height: 400px;
    background-image: url('/img/banner-bg.png');
}

.container-header .content{
    padding: 100px;
}
/**/
.container-header .content a{
    background: #fff;
    color: blueviolet;
    padding: 10px 20px; 
    border-radius: 20px;
    text-decoration: none;
}

.container-header p{
    font-size: 15px;
    padding: 10px;
}

.sobre-mim{
    padding: 100px;
}

.sobre-mim .conteudo-sobre-mim{
    display: flex;
    flex-direction: row; /*quer que o display fique em linha*/
}

.sobre-mim h2{
    font-size: 50px;
    color: darkgrey;
}

.sobre-mim .resumo{
    width: 50%;
    font-family: 'Roboto', sans-serif;
    padding: 10px;
}

.sobre-mim .resumo p{
    font-weight: bold;
    line-height: 25px;
}

.sobre-mim .resumo a{
    text-decoration: none;
    color: blueviolet;
    border-radius: 20px;
    padding: 10px 20px;
    border: 1px solid blueviolet;
    font-weight: bold;
}

.sobre-mim .habilidades{
    width: 50%;  
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    line-height: 25px;
}

.rodape{
    padding: 0 100px;
}

.rodape .conteudo-rodape{
    display: flex;
    flex-direction: row;
    padding: 20px 400px;
    
}

.rodape .conteudo-rodape .linkedin{
    background: blueviolet;
    padding: 10px;
    display: flex;
    flex-direction: column;
    margin: 5px;
}

.rodape .conteudo-rodape .github{
    background: blueviolet;
    padding: 10px;
    display: flex;
    flex-direction: column;
    margin: 5px;
}

.rodape .conteudo-rodape .twitter{
    background: blueviolet;
    padding: 10px;
    display: flex;
    flex-direction: column;
    margin: 5px;
}

.rodape .conteudo-rodape .facebook{
    background: blueviolet;
    padding: 10px;
    display: flex;
    flex-direction: column;
    margin: 5px;
}
